<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

       <bean id="initBean" class="com.by.petranovski.myspring.xml.integrator.config.InitBean"></bean>
       <bean id="bpp" class="com.by.petranovski.myspring.xml.integrator.config.MyBeanPostProcessor"/>
       <bean id="parentContractor" class="com.by.petranovski.myspring.xml.integrator.bean.Contractor">
              <property name="name" value="X A A-12"/>
              <property name="level" value="3"/>
       </bean>
       <bean id="dev" class="com.by.petranovski.myspring.xml.integrator.bean.Developer" parent="parentContractor">
              <constructor-arg value="Java"/>
              <constructor-arg value="3"/>
              <constructor-arg value="true"/>
<!--              <constructor-arg value="true"/>-->
              <property name="techStack">
                     <map>
                            <entry key="Mockito" value="1"/>
                            <entry key="Junit" value="5"/>
                            <entry key="Hybernate" value="7"/>
                     </map>
              </property>
              <property name="date">
                     <bean factory-bean="formatter" factory-method="parse">
                            <constructor-arg value="2021-04-01"/>
                     </bean>
              </property>
              <property name="number" value="345M5"/>
       </bean>
       <bean id="tester" class="com.by.petranovski.myspring.xml.integrator.bean.Developer" parent="parentContractor">
              <constructor-arg value="Phyton"/>
              <constructor-arg value="2"/>
              <constructor-arg value="false"/>
<!--              <constructor-arg value="false"/>-->
              <property name="techStack">
                     <map>
                            <entry key="Spring" value="3"/>
                            <entry key="JPA" value="1"/>
                            <entry key="Junit" value="2"/>
                     </map>
              </property>
              <property name="date">
                     <bean factory-bean="formatter" factory-method="parse">
                            <constructor-arg value="2021-05-17"/>
                     </bean>
              </property>
              <property name="number" value="512M1"/>
       </bean>
       <bean id="manager" class="com.by.petranovski.myspring.xml.integrator.bean.Manager" parent="parentContractor">
              <property name="name" value="Vavan Petranovskij"/>
              <property name="age" value="25"/>
              <property name="developers">
                     <set>
                            <ref bean="dev"/>
                            <ref bean="tester"/>
                     </set>
              </property>
       </bean>
       <bean id="israel" class="com.by.petranovski.myspring.xml.integrator.bean.Department" init-method="initDepartment">
              <constructor-arg value="Israel department"/>
              <constructor-arg>
                     <list>
                            <ref bean="tester"/>
                            <ref bean="dev"/>
                            <ref bean="manager"/>
                     </list>
              </constructor-arg>
       </bean>
<!--       <bean id="dev" class="com.by.petranovski.myspring.xml.integrator.bean.Developer"> //можно так если в разнобой-->
<!--              <constructor-arg index="0" value="Vavan"/>-->
<!--              <constructor-arg index="3" value="true"/>-->
<!--              <constructor-arg index="1" value="Java"/>-->
<!--              <constructor-arg index="2" value="3"/>-->
<!--       </bean>-->
       <bean id="trainee" class="com.by.petranovski.myspring.xml.integrator.bean.Developer">  <!-- //по умолчанию все обьекты singleton, если мы хотим чтобы обьект был не в единственном экземпляере, то надо scope="prototype" -->
              <constructor-arg value="Juil"/>
       </bean>
<!--       <bean id="trainee" class="com.by.petranovski.myspring.xml.integrator.bean.Developer" scope="prototype">  &lt;!&ndash; //по умолчанию все обьекты singleton, если мы хотим чтобы обьект был не в единственном экземпляере, то надо scope="prototype" &ndash;&gt;-->
<!--              <constructor-arg value="Juil"/>-->
<!--       </bean>-->

       <bean id="fitness" name="projectA" class="com.by.petranovski.myspring.xml.integrator.bean.BotProject"> <!--закоментил чтобы проверить запускается ли SimpleDate, потому что засэтал nuul в конструктор -->
              <constructor-arg value="fitnessBot"/>
              <constructor-arg ref="dev"/>
              <constructor-arg>
                     <bean factory-bean="formatter" factory-method="parse">
                            <constructor-arg value="2021-07-19"/>
                     </bean>
              </constructor-arg>
       </bean>
       <bean id="yoga" name="projectB" class="com.by.petranovski.myspring.xml.integrator.bean.BotProject">
              <property name="name" value="yogaBot"></property>
              <property name="teamLead" ref="trainee"></property>
              <property name="start">
                     <bean factory-bean="formatter" factory-method="parse">
                            <constructor-arg value="2021-05-16"/>
                     </bean>
              </property>
       </bean>
       <bean id="formatter" class="java.text.SimpleDateFormat">
              <constructor-arg value="yyyy-MM-dd"/>
       </bean>
</beans>